.mainPageNews {
	border-color:#888;
	border-width:2px;
	border-style:none;
	border-top-style:solid;
}
.mainPageNews col {
	margin-left:auto;
	margin-right:auto;
	height:300px;
	overflow:hidden;
	
}
.mainPageNews col:last-child {
	border-right-style:none;
}
.mainPageNews td {
	vertical-align:top;
	width:32%;
	overflow:hidden;
	border-color:#888;
	border-width:2px;
	border-style:none;
	border-right-style:solid;
}
.mainPageNews tr:last-child td, .mainPageNews td:last-child {
	border-right-style:none;
}
.mainPageNews > tbody > tr:last-child > td > a {
	padding-left:40px;
}
.mainPageSlider img {
	height:160px;
	margin-left:15px;
}
#sliderContainer {
	margin:0 10px;
}
