/* Copyright 2013-15 Tauran Wood */

/*  This program is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.
 
	This program is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.
 
	You should have received a copy of the GNU General Public License
	along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/

.mainPageNews {
	border-color:#888;
	border-width:2px;
	border-style:none;
	border-top-style:solid;
	width:100%;
}
.mainPageNews col {
	margin-left:auto;
	margin-right:auto;
	height:300px;
	overflow:hidden;
	
}
.mainPageNews col:last-child {
	border-right-style:none;
}
.mainPageNews td {
	vertical-align:top;
	width:32%;
	overflow:hidden;
	border-color:#888;
	border-width:2px;
	border-style:none;
	border-right-style:solid;
}
.mainPageNews tr:last-child td, .mainPageNews td:last-child {
	border-right-style:none;
}
.mainPageNews > tbody > tr:last-child > td > a {
	padding-left:40px;
}
.mainPageSlider img {
	height:160px;
	margin-left:15px;
}
#sliderContainer {
	margin:0 10px;
}


/* The following few classes control the rss styling */
#cbeRSStitle {
	background-color:#F28726;
	margin:0px;
	padding-bottom:8px;
	padding-left:10px;
	padding-top:8px;
	color:white;
	border-top-right-radius:5px;
}

.feedburnerFeedBlock {
	background-color:#ffffff;
	max-height:370px;
	width:200px;
	overflow:auto;
}
.feedburnerFeedBlock ul {
	list-style:none;
	padding-left:0px;
	margin:0px;
}
.feedburnerFeedBlock li {
	border-style:solid;
	border-width:0px;
	border-bottom-width:1px;
	border-bottom-color:#666;
	padding-left:10px;
}
.feedburnerFeedBlock li p {
	margin:0;
}
.feedTitle {
	display:none;
}
#cbeRSSsubscribe {
	background-color:#F28726;
	border-style:none;
	border-bottom-right-radius:5px;
	padding:5px;
}
#cbeRSSsubscribe a {
	color:#fff;
}
/* This is where the rss styling ends */

/* Survey link styling */
#feedbackSurvey {
	border-style:solid;
	border-left-style:none;
	border-width:1px;
	border-color:#666;
	border-top-right-radius:5px;
	border-bottom-right-radius:5px;
}
#feedbackSurvey img {
	width:160px;
	height:160px;
	padding-left:19px;
	padding-top:5px;
}