.flex-nav-container {
	width: 100%; margin-bottom: 30px; float: right; position: relative;
}
.flex-nav-container ul {
	list-style: none;
}
.flex-nav-container ol {
	list-style: none;
}
.flexslider ul.slides {
	margin: 0px; padding: 0px;
}
.flex-nav-container ol.flex-control-nav {
	margin: 0px; padding: 0px;
}
.flex-nav-container ul.flex-direction-nav {
	margin: 0px; padding: 0px;
}
.flexslider ul.slides li img {
	margin: 0px; padding: 0px;
}
