/* Copyright 2013 Tauran Wood, <Insert other conributer names here> */

/*  This program is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.
 
	This program is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.
 
	You should have received a copy of the GNU General Public License
	along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/
#socialmediaborder {
	margin:0px;
	width:200px;
	margin-bottom:10px;
	border-color:#000;
	border-bottom-right-radius:5px;
	border-top-right-radius:5px;
	border-width:2px;
	border-style:solid;
	border-left-width:0px;
}
#socialmediaborder h3 {
	background-color:#374049;
	margin:0px;
	padding-bottom:8px;
	padding-left:10px;
	padding-top:8px;
	color:white;
}
#socialmediacontent {
	font-family:Arial;
	font-size:12px;
	line-height:18px;
	display:block;
	background-color:#f09d28;
}
#socialmediacontent img {
	height:55px;
	margin:15px;
	border-radius:5px;
	margin-bottom:10px;
}
#socialmediacontent p {
	margin:0px;
	padding:8px;
	padding-top:0px;
}
#youtubelogo {
	margin-left:30px !important;
}
#twitterlogo {
	float:right;
	margin-right:30px !important;
}
