/* Copyright 2013 Tauran Wood */

/*  This program is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.
 
	This program is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.
 
	You should have received a copy of the GNU General Public License
	along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/
#areamenuborder {
	margin:0px;
	display:inline-block;
	width:200px;
	background-color: #FFFFFF;
}
#areamenuborder > a {
	text-decoration:none;
}
#areamenuborder h3 {
	background-color:#F28726;
	margin:0px;
	padding-bottom:8px;
	padding-left:10px;
	padding-top:8px;
	color:white;
	border-top-right-radius:5px;
}
/* This runs the menu */
/* Menu source, if you are interested http://www.onextrapixel.com/2011/06/03/how-to-create-a-horizontal-dropdown-menu-with-html-css-and-jquery/ */
/* The source was modified to provide verticalness */
#leftmenu,
#leftmenu ul {
	list-style:none;
	list-style-image: uri(data:0);
	padding-left:0px;
}
#leftmenu {
    float:none;
	width:199px; /* Leave 1px for border */
}
#leftmenu > li {
    float:none;
}
#leftmenu li a {
	display: block;
    line-height: 40px;
    padding-left: 10px;
	padding-right:10px;
    text-decoration: none;
}
#leftmenu ul {
    position: absolute;
    display: none;
	z-index: 999;
	margin-left:199px; /* Leave 1px for the border */
	margin-top:-41px; /* 40px for the box, plus one for the border */
}

#leftmenu > li:hover > ul {
    display: block;
}

/* Menu styling */

/* Main menu
------------------------------------------*/
#leftmenu {
	display:block;
	margin:0px;
	color:#000;
	border-style:none;
	border-width:1px;
	border-color:#666;
	border-right-style:solid;
}
#leftmenu > li {
	border-style:solid;
	border-width:0px;
	border-bottom-width:1px;
	border-color:#666;
}
#leftmenu > li > a {
    color: #000;
    font-weight: normal;
}
#leftmenu > li:hover > a {
    background: #666;
    color: #fff;
}
/* Submenu
 ------------------------------------------*/
#leftmenu ul {
    background: #666;
}
#leftmenu ul li a {
    color: #fff;
	margin-top:auto;
	margin-bottom:auto;
	border-color:#fff;
	border-style:solid;
	border-width:0px;
	border-top-width:1px;
}
#leftmenu ul li:hover a {
    background: #333;
}
#leftmenu ul li:first-child a {
	border-style:none;
}
/* move the little sub-menu arrow to the right */
#leftmenu span {
	float:right;
}
