/* Copyright 2013 Tauran Wood */

/*  This program is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.
 
	This program is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.
 
	You should have received a copy of the GNU General Public License
	along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/
#footer {
	text-align:center;
	width:100%;
	height:40px;
	background-color:#fff;
	color:#000;
	display:inline-block;
	font-size:10px;
}
#footer span {
	padding:0 10px;
}
#footer > span {
	color:#666;
	padding:0 7px;
}
#footer > span:nth-child(2) {
	float:right;
}
#footer > span:first-child {
	line-height:40px;
	font-size:20px;
	color:#666;
	margin-right:-202px;
}
#footer > span:first-child > span {
	color:#00adda;
	border-style:solid;
	border-color:#000;
	border-width:0 2px;
	margin:0 2px;
}