/* Copyright 2013 Tauran Wood */

/*  This program is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.
 
	This program is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.
 
	You should have received a copy of the GNU General Public License
	along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/
body {
	background:url(/b829/aberhart/universal/AbeA-outline.svg) repeat center top;
	background-size:119px;
	background-color:#aaa;
	font: 8pt Verdana, Arial, Helvetica, sans-serif;
	color:#333333;
	line-height:11pt;
	width:1060px;
	padding:15px;
	margin:0px;
	margin-left:auto;
	margin-right:auto;
}
p {
	line-height:135%;
}
h1{
	font:14pt Arial Helvetica, sans-serif;
	color:#222222;
}
h3 {
	color:#222222;
	font:bold 10pt Verdana, Arial, Helvetica, sans-serif;
	padding-left:5px;
}
.list li {
	padding:5px;
}
.centerAlign {
	text-align:center;
}
.centerAlignImage {
	margin-left:auto;
	margin-right:auto;
	display:block;
}
.mainPageNews {
	border-color:#888;
	border-width:2px;
	border-style:none;
	border-top-style:solid;
}
.mainPageNews col {
	margin-left:auto;
	margin-right:auto;
	height:300px;
	overflow:hidden;
	
}
.mainPageNews col:last-child {
	border-right-style:none;
}
.mainPageNews td {
	vertical-align:top;
	width:32%;
	overflow:hidden;
	border-color:#888;
	border-width:2px;
	border-style:none;
	border-right-style:solid;
}
.mainPageNews tr:last-child td, .mainPageNews td:last-child {
	border-right-style:none;
}
.mainPageNews > tbody > tr:last-child > td > a {
	padding-left:40px;
}
.mainPageSlider img {
	height:160px;
	margin-left:15px;
}
.contactList {
	width:100%;
}
.contactList > tbody > tr > td {
	border-color:#000;
	border-style:solid;
	border-width:2px;
	border-radius:5px;
	margin-right:0px;
	margin-left:0px;
	padding-top:5px;
	padding-bottom:5px;
	padding-right:5px;
}
#border {
	width:100%;
	overflow:hidden;
	
	/* applies the border */
	border-style:solid;
	border-width:2px;
	border-color:#000;
	border-radius:10px;
	
	background:#fff;
}
#leftside{
	display:inline-block;
	float:left;
}
#leftside > div {
	width:200px;
	border-style:solid;
	border-width:2px;
	border-color:#000;
	border-top-right-radius:5px;
	border-bottom-right-radius:5px;
	border-left-style:none;
	margin-bottom:10px;
}
#rightside {
	display:inline-block;
	float:right;
}
#leftside, #rightside{
	width:200px;
}
#footers {
	width:100%;
	display:inline-block;
	margin-bottom:10px;
}

/* this class is the only one that needs modification when changing content width */
#content {
	display:inline-block;
	margin-bottom:10px;
	margin-left:8px;
	margin-right:8px;
	width:635px; /* 1060, the width of the document, - 2*202, the width of the sidebars - 2*8, the width of the margins - 5 for safety */
}

/* iframes are resized using code found here http://ansciath.tumblr.com/post/7347495869/css-aspect-ratio */
.fullpageiframe {
    position: relative;
	width:100%;
	background:#fff;
	display:inline-block;
}
.fullpageiframe > div {
    padding-top: 130%; /* 8.5:11 aspect ratio...ish */
}
.fullpageiframe > div > iframe {
	width:100%;
	height:100%;
	position: absolute;
	top: 0;	
	border-style:solid;
	border-color:#000;
	border-radius:5px;
}
.landscapeiframe {
    position: relative;
	width:100%;
	background:#fff;
	display:inline-block;
}
.landscapeiframe > div {
    padding-top: 79%; /* 11:8.5 aspect ratio...ish */
}
.landscapeiframe > div > iframe {
	width:100%;
	height:100%;
	position: absolute;
	top: 0;	
	border-style:solid;
	border-color:#000;
	border-radius:5px;
}



/* The following few classes control the rss styling */
#cbeRSS > script{
	display:inline;
}
.feedburnerFeedBlock {
	background-color:#ffffff;
	height:370px;
	width:200px;
	overflow:auto;
}
.feedburnerFeedBlock ul {
	list-style:none;
	padding-left:0px;
	margin:0px;
}
.feedburnerFeedBlock li {
	border-style:solid;
	border-width:0px;
	border-bottom-width:2px;
	border-bottom-color:#000;
	padding-left:10px;
}
.feedTitle > a, .feedTitle > a:visited {
	color:#fff;
	text-decoration:none;
	font:bold 9pt Verdana, Arial, Helvetica, sans-serif;
}
.feedTitle {
	text-align:center;
	background-color:#F28726;
	font-size:1.17em;
	margin:0px;
	padding-top:8px;
	padding-bottom:8px;
	border-style:solid;
	border-width:0px;
	border-bottom-width:2px;
	border-bottom-color:#000;
}
/* This is where the rss styling ends */

