/* Copyright 2013 Tauran Wood */

/*  This program is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.
 
	This program is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.
 
	You should have received a copy of the GNU General Public License
	along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/
.rightmenuborder {
	margin:0px;
	width:200px;
	margin-bottom:10px;
	background-color:#ffffff;
}
.rightmenuborder h3 {
	background-color:#F28726;
	border-top-left-radius:5px;
	margin:0px;
	padding-bottom:8px;
	padding-left:10px;
	padding-top:8px;
	color:white;
}
#helpmenu {
	border-style:solid;
	border-top-style:none;
	border-right-style:none;
	border-width:1px;
	border-color:#666;
}
#helpmenu img{
	height:75px;
	margin-left:auto;
	margin-right:auto;
	display:block;
	padding-top:8px;
}
#helpmenu p {
	font:8pt Verdana, Arial, Helvetica, sans-serif;
	line-height:18px;
	padding:8px;
	padding-top:5px;
}

/* This runs the menu */
/* Menu source, if you are interested http://www.onextrapixel.com/2011/06/03/how-to-create-a-horizontal-dropdown-menu-with-html-css-and-jquery/ */
/* The source was modified to provide verticalness */
#linksmenu,
#linksmenu ul {
	list-style: none;
	padding-left:0px;
}
#linksmenu {
	float:none;
	width:199px; /* Leave 1px for the border */
}
#linksmenu > li {
	float:none;
}
#linksmenu li a {
	display: block;
	line-height: 40px;
	padding-left: 10px;
	padding-right:10px;
	text-decoration: none;
}
#linksmenu ul {
	position: absolute;
	display: none;
	z-index: 999;
	margin-left:199px; /* Leave 1px for the border */
	margin-top:-42px; /* 40px for the box, plus two for the border */
}

#linksmenu li:hover ul {
	display: block;

}

/* Menu styling */

/* Main menu
------------------------------------------*/
#linksmenu {
	display:block;
	border-color:#666;
	border-width:1px;
	border-style:none;
	border-left-style:solid;
	margin:0px;
	color:#000;
}
#linksmenu > li {
	border-style:none;
	border-bottom-style:solid;
	border-width:1px;
	border-color:#666;
}
#linksmenu > li > a {
	color: #000;
	font-weight: normal;
}
#linksmenu > li:hover > a {
	background: #666;
	color: #fff;
}
