/* Copyright 2013 Tauran Wood */

/*  This program is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.
 
	This program is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.
 
	You should have received a copy of the GNU General Public License
	along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/
#cbe_header {
	height:90px;
}
#cbe_header img {
	padding-right:10px;
	padding-left:10px;
	padding-top:10px;
	border-width:0px;
}
#cbe_header > span > * {
	display:inline-block;
	margin:0;
}
#cbe_header > * {
	display:inline-block;
}
#cbe_header ul {
	margin:0;
	margin-right:10px;
	float:right;
}
#abe_header {
	height:200px;
}
#abe_header img {
	top:-2px;
	margin-left:auto;
	margin-right:auto;
	display:block;
}
#phoneNumbers {
	padding-top:2px;
	padding-right:6px;
	text-align:right;
	float:right;
}
/* This runs the menu */
/* Menu source, if you are interested http://www.onextrapixel.com/2011/06/03/how-to-create-a-horizontal-dropdown-menu-with-html-css-and-jquery/ */
#topmenu,
#topmenu ul {
    list-style: none;
	padding-left:0px;
}
#topmenu {
    float: left;
	display:inline-block;
}
#topmenu > li {
    float: left;
}
#topmenu li a {
	display: block;
    height: 25px;
    line-height: 25px;
    padding-left: 22px;
	padding-right:22px;
    text-decoration: none;
}
#topmenu ul {
    position: absolute;
    display: none;
	z-index: 999;
}

#topmenu li:hover ul {
    display: block;
}

/* Menu styling */

/* Main menu
------------------------------------------*/
#topmenu {
    background: #00adda;
	margin-top:0px;
	width:100%;
	height:25px;
	color:#fff;
	border-style:solid;
	border-width:0px;
	border-color:#fff;
	border-top-width:0px;
	border-bottom-width:2px;
}
#topmenu > li {
	border-style:solid;
	border-width:0px;
	border-right-width:2px;
	border-color:#fff;
}
#topmenu > li > a {
    color: #fff;
    font-weight: normal;
}
#topmenu > li:hover > a {
    background: #666666;
    color: #fff;
}
/* Submenu
 ------------------------------------------*/
#topmenu ul {
    background: #f28726;
	border-color:#fff;
	border-style:solid;
	border-width:1px;
	border-top-width:0px;
	margin-left:-2px; /* Compensates for the width of the border when alighning the sub-menu */
}
#topmenu ul li a {
    color: #fff;
	margin-top:auto;
	margin-bottom:auto;
	border-style:solid;
	border-width:0px;
	border-top-width:0px;
}
#topmenu ul li:hover a {
    background: #ffc97c;
}
