/* Copyright 2013 Tauran Wood */

/*  This program is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.
 
	This program is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.
 
	You should have received a copy of the GNU General Public License
	along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/
#cbe_header {
	height:22px;
}
#cbe_header a img {
	float:right;
	padding-right:10px;
	border-width:0px;
}
#phoneNumbers {
	padding-top:2px;
	padding-left:6px;
	text-align:right;
}
/* This runs the submenu */
/* Menu source, if you are interested http://www.onextrapixel.com/2011/06/03/how-to-create-a-horizontal-dropdown-menu-with-html-css-and-jquery/ */
.areamenu,
.areamenu ul {
    list-style: none;
	padding-left:0px;
}
.areamenu {
	width:100%;
	text-align:center;
	margin:0;
}
.areamenu > li {
	display:inline-block;
}
.areamenu li a {
	display: block;
    height: 40px;
    line-height: 40px;
    padding-left:10px;
	padding-right:10px;
	text-align:left;
    text-decoration: none;
}
.areamenu ul {
    position: absolute;
    display: none;
	z-index: 999;
}

.areamenu li:hover ul {
    display: block;
}
/* Submenu styling */
.areamenu, .areamenu ul {
	font-size:0;
	background-color:#f80;
	border-style: solid;
	border-color: #000;
	border-width: 0;
	border-bottom-width: 2px;
}
.areamenu ul {
	background-color:#344;
	border-width:2px;
	border-top-width:0px;
	margin-left:-2px; /* Compensates for the width of the border when alighning the sub-menu */
}
.areamenu > li {
	font-size:15px;
	border-style:solid;
	border-color: #000;
	border-width: 0;
	border-right-width: 2px;
}
.areamenu > li:first-child {
	border-left-width:2px;
}
.areamenu > li:hover {
	color:#fff;
	background-color: #344;
}
.areamenu > li > ul > li {
	font-size:15px;
	border-style:solid;
	border-color: #000;
	border-width: 0;
	border-top-width: 2px;
}
.areamenu > li > ul > li:hover {
	background-color:#000;
}
.areamenu > li > a {
	color:#000;
}
.areamenu > li:hover > a {
	color:#fff;
}
.areamenu > li > ul > li > a{
	color:#fff;
}


.topmenu > .bx-wrapper > .bx-viewport {
	overflow: visible;
	border-width:0;
	left:0px;
}
.topmenu > .bx-wrapper {
	margin-bottom: 8px;
}
/* Main Menu styling */
#topmenuPager {
    font-size: 0;/* This gets rid of the space between elements, per http://css-tricks.com/fighting-the-space-between-inline-block-elements/ */
    background: #344;
	margin-top:0px;
	width:100%;
	height:40px;
	color:#fff;
	border-style:solid;
	border-width:0px;
	border-color:#000;
	border-top-width:2px;
	border-bottom-width:2px;
	text-align:center;
}
#topmenuPager > a {
	font-size: 15px;
	display:inline-block;
	padding:0px 10px;
	line-height:40px;
	border-style:solid;
	border-width:0px;
	border-right-width:2px;
	border-color:#000;
    color: #fff;
	text-decoration:none;
    font-weight: normal;
	position:relative;
}
#topmenuPager a:first-child {
	border-left-width:2px;
}
#topmenuPager > a:hover {
    background: #fff;
    color: #000;
}
#topmenuPager > a.active {
	background: #f80;
    color: #000;
}
