H2 {
	PADDING-BOTTOM: 0px; MARGIN: 0px 0px 1em; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Georgia, "Times New Roman", serif; COLOR: #a30500; FONT-SIZE: 16px; PADDING-TOP: 0px
}
.subheading {
	LINE-HEIGHT: 20pt; MARGIN-TOP: 10px; FONT-FAMILY: Georgia, "Times New Roman", serif; COLOR: #a30500; FONT-SIZE: 16px; PADDING-TOP: 10px
}
P {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 150%; PADDING-LEFT: 20px; PADDING-RIGHT: 20px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #313131; FONT-SIZE: 12px; PADDING-TOP: 0px
}
LABEL {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 150%; PADDING-LEFT: 20px; PADDING-RIGHT: 20px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #313131; FONT-SIZE: 12px; PADDING-TOP: 0px
}
.feat_box {
	BORDER-BOTTOM: #e4e4e4 1px solid; BORDER-LEFT: #e4e4e4 1px solid; PADDING-BOTTOM: 10px; MARGIN: 10px 0px 0px; PADDING-LEFT: 10px; WIDTH: 464px; PADDING-RIGHT: 10px; DISPLAY: block; COLOR: #313131; BORDER-TOP: #e4e4e4 1px solid; BORDER-RIGHT: #e4e4e4 1px solid; PADDING-TOP: 10px
}
FORM {
	PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 23px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
A:link {
	BORDER-BOTTOM: medium none; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #0066a2; FONT-SIZE: 12px; TEXT-DECORATION: none
}
A:visited {
	BORDER-BOTTOM: medium none; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #0066a2; FONT-SIZE: 12px; TEXT-DECORATION: none
}
A:hover {
	BORDER-BOTTOM: #bd2323 1px solid; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #a30500; FONT-SIZE: 12px; TEXT-DECORATION: none
}
A:active {
	BORDER-BOTTOM: #bd2323 1px solid; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #a30500; FONT-SIZE: 12px; TEXT-DECORATION: none
}
#options {
	PADDING-BOTTOM: 0px; MARGIN: 10px 20px 0px; PADDING-LEFT: 20px; WIDTH: 500px; PADDING-RIGHT: 20px; DISPLAY: block; CLEAR: both; PADDING-TOP: 10px
}
#options2 {
	PADDING-BOTTOM: 3px; MARGIN: 7px 20px 0px; PADDING-LEFT: 20px; WIDTH: 500px; PADDING-RIGHT: 20px; PADDING-TOP: 0px
}
#options3 {
	PADDING-BOTTOM: 0px; MARGIN: 0px 20px; PADDING-LEFT: 20px; WIDTH: 500px; PADDING-RIGHT: 20px; PADDING-TOP: 0px
}
INPUT[type=text] {
	PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; WIDTH: 250px; PADDING-RIGHT: 2px; FONT-SIZE: 14px; PADDING-TOP: 2px
}
SELECT {
	PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; WIDTH: 250px; PADDING-RIGHT: 2px; FONT-SIZE: 14px; PADDING-TOP: 2px
}
SELECT {
	WIDTH: 150px
}
