.st-grid IMG {
	WIDTH: 100px
}
.book-list {
	POSITION: relative
}
.book-list UL {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 5px 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
#ContentLeft .book-list UL.alternate {
	PADDING-BOTTOM: 0px !important; PADDING-LEFT: 0px !important; PADDING-RIGHT: 0px !important; PADDING-TOP: 0px !important
}
#ContentLeft .book-list UL {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px !important; MARGIN: 5px 0px 5px 10px; PADDING-LEFT: 30px !important; PADDING-RIGHT: 30px !important; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px !important
}
.book-list LI {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; MARGIN-BOTTOM: 10px; FLOAT: left; CLEAR: none !important; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
.CenterRight .book-list LI {
	WIDTH: 174px
}
.Center .book-list LI {
	WIDTH: 109px
}
.book-list .alternate LI {
	WIDTH: 109px
}
.CenterRight .book-list .alternate LI {
	WIDTH: 116px
}
.book-list .item {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; PADDING-TOP: 0px
}
.book-list .img {
	POSITION: relative
}
.CenterRight .book-list .img {
	HEIGHT: 210px
}
.Center .book-list .img {
	HEIGHT: 150px
}
.book-list .alternate .img {
	HEIGHT: 150px
}
.book-list LI A {
	WIDTH: 164px; DISPLAY: table-cell; HEIGHT: 210px; VERTICAL-ALIGN: middle
}
.CenterRight .book-list LI A {
	HEIGHT: 210px
}
.Center .book-list LI A {
	HEIGHT: 150px
}
.book-list .alternate LI A {
	HEIGHT: 150px
}
.book-list LI IMG {
	WIDTH: 140px; box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.6)
}
.CenterRight .book-list LI IMG {
	WIDTH: 140px; MAX-HEIGHT: 200px
}
.Center .book-list LI IMG {
	WIDTH: 90px; MAX-HEIGHT: 144px
}
.book-list .alternate LI IMG {
	WIDTH: 90px; MAX-HEIGHT: 144px
}
.book-list LI DIV.book-info {
	Z-INDEX: 1; POSITION: absolute; WIDTH: 28px; BOTTOM: 0px; BACKGROUND: url(images/info.png) no-repeat; HEIGHT: 28px; CURSOR: pointer; RIGHT: 0px
}
.book-list LI .info {
	FONT-SIZE: 12px; PADDING-TOP: 5px
}
.Center .book-list LI .info {
	FONT-SIZE: 10px; PADDING-TOP: 3px
}
.book-list .alternate LI .info {
	FONT-SIZE: 10px; PADDING-TOP: 3px
}
CenterRight .book-list LI .info {
	FONT-SIZE: 12px; PADDING-TOP: 5px
}
.book-list LI SPAN {
	LINE-HEIGHT: 12px; DISPLAY: block
}
.book-list LI .title {
	COLOR: #333333; text-shadow: 0 -1px 0 #DDDDDD
}
.book-list LI .sep {
	DISPLAY: none !important
}
.book-list .Wait {
	Z-INDEX: 2; POSITION: absolute; BOTTOM: 0px; BACKGROUND: url(images/hload.gif) #fff no-repeat 50% 50%; RIGHT: 0px; TOP: 0px; LEFT: 0px; opacity: .8
}
.book-info-detail {
	OVERFLOW-X: hidden; HEIGHT: 100%
}
.book-info-detail .cover {
	POSITION: absolute; TEXT-ALIGN: center; PADDING-BOTTOM: 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; HEIGHT: 376px; PADDING-TOP: 10px; TOP: auto; LEFT: 0px
}
.book-info-detail .img {
	HEIGHT: 210px
}
.book-info-detail A {
	DISPLAY: table-cell; HEIGHT: 210px; VERTICAL-ALIGN: middle
}
.book-info-detail IMG {
	WIDTH: 140px; MAX-HEIGHT: 200px; box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.6)
}
.book-info-detail .info {
	FONT-SIZE: 12px; PADDING-TOP: 5px
}
.book-info-detail A {
	WIDTH: 164px
}
.book-info-detail .info > DIV {
	WIDTH: 164px
}
.book-info-detail SPAN {
	DISPLAY: block
}
.book-info-detail .title {
	TEXT-TRANSFORM: uppercase; WIDTH: 164px; FONT-WEIGHT: bold
}
.book-info-detail .sep {
	DISPLAY: none !important
}
.book-info-detail .review {
	BACKGROUND: url(images/hload.gif) no-repeat 50% 50%; HEIGHT: 100%; MARGIN-LEFT: 166px
}
BODY.book-list-pp {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.book-list-wrap {
	OVERFLOW-Y: scroll; FONT-FAMILY: Tahoma,Geneva,arial,sans-serif !important; HEIGHT: 100%; COLOR: #555 !important; FONT-SIZE: 13px !important
}
.book-list-wrap .content {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BACKGROUND: #fff; PADDING-TOP: 0px
}
.book-list-wrap .rev {
	MARGIN-BOTTOM: 5px
}
.syn_title {
	TEXT-ALIGN: center; PADDING-BOTTOM: 5px; BACKGROUND-COLOR: #4466aa; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; COLOR: #ffffff; FONT-SIZE: 13px !important; FONT-WEIGHT: bold; PADDING-TOP: 5px
}
.book-list-wrap .content H1 {
	TEXT-ALIGN: center; PADDING-BOTTOM: 5px; BACKGROUND-COLOR: #4466aa; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; COLOR: #ffffff; FONT-SIZE: 13px !important; FONT-WEIGHT: bold; PADDING-TOP: 5px
}
.syn_list UL {
	MARGIN: 0px
}
.syn_toc_label {
	WIDTH: 20% !important
}
.syn_toc_item_title {
	PADDING-BOTTOM: 0px !important; MARGIN: 0px; PADDING-LEFT: 0px !important; WIDTH: 62% !important; PADDING-RIGHT: 0px !important; PADDING-TOP: 0px !important
}
.syn_toc_item_page_num {
	TEXT-ALIGN: right; WIDTH: 15% !important; PADDING-RIGHT: 2px
}
.book-list .position {
	BORDER-BOTTOM: #19c 5px solid; POSITION: absolute; TEXT-ALIGN: center; BORDER-LEFT: #19c 5px solid; WIDTH: 24px; BACKGROUND: #25a 0px 0px; HEIGHT: 24px; BORDER-TOP: #19c 5px solid; BORDER-RIGHT: #19c 5px solid; TOP: 0px; LEFT: 0px; -moz-border-radius: 20px; -webkit-border-radius: 20px; border-radius: 20px
}
.book-list .position SPAN {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; COLOR: #fff; FONT-SIZE: 11px; FONT-WEIGHT: bold; PADDING-TOP: 5px
}
.book-list .score SPAN {
	FONT-SIZE: 10px; FONT-WEIGHT: bold
}
