<!DOCTYPE html> <!-- This has to come before any comments (or anything else). Otherwise it kills IE -->

<!-- Copyright 2013 Tauran Wood -->

<!--  This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.
 
 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.
 
 You should have received a copy of the GNU General Public License
 along with this program.  If not, see <http://www.gnu.org/licenses/>.
 -->


<!-- All the things in this document must be included to use the tabs -->
<!-- You can include more than one tab thing per page -->
<!-- source:http://fotis.co/projects/simpletabs/ -->
<html>
    <head>
        <meta charset="UTF-8"/>
		<title>William Aberhart</title>
		<link rel="stylesheet" type="text/css" href="/b829/aberhart/universal/simpletabs.css"/>
		<script src="/b829/aberhart/universal/simpletabs.js"></script>
	</head>
    <body>
		<div class="simpleTabs">
			<ul class="simpleTabsNavigation">
				<li><a>Tab 1</a></li>
				<li><a>Tab 2</a></li>
				<li><a>Tab3 (and so on)</a></li>
			</ul>
			<div class="simpleTabsContent">Content here to be called when "Tab 1" is clicked.</div>
			<div class="simpleTabsContent">Content here to be called when "Tab 2" is clicked.</div>
			<div class="simpleTabsContent">Content here to be called when "Tab 3" is clicked.</div>
		</div>
	</body>
</html>