.mr_RSET_breadcrumb {
	BORDER-BOTTOM-STYLE: none; BORDER-LEFT-STYLE: none; FONT-FAMILY: Arial, Helvetica, sans-serif; BORDER-TOP-STYLE: none; COLOR: #61544e; BORDER-RIGHT-STYLE: none; FONT-SIZE: 9px; TEXT-DECORATION: none
}
A.mr_RSET_breadcrumb:link {
	BORDER-BOTTOM-STYLE: none; BORDER-LEFT-STYLE: none; FONT-FAMILY: Arial, Helvetica, sans-serif; BORDER-TOP-STYLE: none; COLOR: #61544e; BORDER-RIGHT-STYLE: none; FONT-SIZE: 9px; TEXT-DECORATION: none
}
A.mr_RSET_breadcrumb:visited {
	BORDER-BOTTOM-STYLE: none; BORDER-LEFT-STYLE: none; FONT-FAMILY: Arial, Helvetica, sans-serif; BORDER-TOP-STYLE: none; COLOR: #61544e; BORDER-RIGHT-STYLE: none; FONT-SIZE: 9px; TEXT-DECORATION: none
}
A.mr_RSET_breadcrumb:hover {
	BORDER-BOTTOM-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-TOP-STYLE: none; COLOR: #811f03; BORDER-RIGHT-STYLE: none; FONT-SIZE: 9px; TEXT-DECORATION: none
}
