.mr_tertiary_nav {
	BORDER-BOTTOM-STYLE: none; BORDER-LEFT-STYLE: none; FONT-FAMILY: Arial, Helvetica, sans-serif; BORDER-TOP-STYLE: none; COLOR: #ffffff; BORDER-RIGHT-STYLE: none; FONT-SIZE: 8pt; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.mr_tertiary_nav:link {
	BORDER-BOTTOM-STYLE: none; BORDER-LEFT-STYLE: none; FONT-FAMILY: Arial, Helvetica, sans-serif; BORDER-TOP-STYLE: none; COLOR: #ffffff; BORDER-RIGHT-STYLE: none; FONT-SIZE: 8pt; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.mr_tertiary_nav:visited {
	BORDER-BOTTOM-STYLE: none; BORDER-LEFT-STYLE: none; FONT-FAMILY: Arial, Helvetica, sans-serif; BORDER-TOP-STYLE: none; COLOR: #ffffff; BORDER-RIGHT-STYLE: none; FONT-SIZE: 8pt; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.mr_tertiary_nav:hover {
	BORDER-BOTTOM-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-TOP-STYLE: none; COLOR: #33ccff; BORDER-RIGHT-STYLE: none; FONT-SIZE: 8pt; TEXT-DECORATION: none
}
DIV.mr_tertiary_nav {
	BORDER-BOTTOM-STYLE: none; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT-STYLE: none; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: inline; BORDER-TOP-STYLE: none; FLOAT: right; BORDER-RIGHT-STYLE: none; VERTICAL-ALIGN: middle; PADDING-TOP: 0px
}
