.mr_topnav_horiz2 {
	BORDER-BOTTOM-STYLE: none; TEXT-TRANSFORM: uppercase; BACKGROUND-COLOR: transparent; BORDER-LEFT-STYLE: none; FONT-FAMILY: Arial, Helvetica, sans-serif; WHITE-SPACE: nowrap; BORDER-TOP-STYLE: none; COLOR: #000000; BORDER-RIGHT-STYLE: none; FONT-SIZE: 12px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.mr_topnav_horiz2:link {
	BORDER-BOTTOM-STYLE: none; TEXT-TRANSFORM: uppercase; BACKGROUND-COLOR: transparent; BORDER-LEFT-STYLE: none; FONT-FAMILY: Arial, Helvetica, sans-serif; WHITE-SPACE: nowrap; BORDER-TOP-STYLE: none; COLOR: #000000; BORDER-RIGHT-STYLE: none; FONT-SIZE: 12px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.mr_topnav_horiz2:visited {
	BORDER-BOTTOM-STYLE: none; TEXT-TRANSFORM: uppercase; BACKGROUND-COLOR: transparent; BORDER-LEFT-STYLE: none; FONT-FAMILY: Arial, Helvetica, sans-serif; WHITE-SPACE: nowrap; BORDER-TOP-STYLE: none; COLOR: #000000; BORDER-RIGHT-STYLE: none; FONT-SIZE: 12px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.mr_topnav_horiz2:hover {
	BORDER-BOTTOM-STYLE: none; TEXT-TRANSFORM: uppercase; BORDER-LEFT-STYLE: none; FONT-FAMILY: Arial, Helvetica, sans-serif; BORDER-TOP-STYLE: none; COLOR: #298ba4; BORDER-RIGHT-STYLE: none; FONT-SIZE: 12px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.mr_topnav_horiz2-focus:link {
	BORDER-BOTTOM-STYLE: none; TEXT-TRANSFORM: uppercase; BORDER-LEFT-STYLE: none; FONT-FAMILY: Arial, Helvetica, sans-serif; BORDER-TOP-STYLE: none; COLOR: #298ba4; BORDER-RIGHT-STYLE: none; FONT-SIZE: 12px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.mr_topnav_horiz2-focus:visited {
	BORDER-BOTTOM-STYLE: none; TEXT-TRANSFORM: uppercase; BORDER-LEFT-STYLE: none; FONT-FAMILY: Arial, Helvetica, sans-serif; BORDER-TOP-STYLE: none; COLOR: #298ba4; BORDER-RIGHT-STYLE: none; FONT-SIZE: 12px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.mr_topnav_horiz2-focus:hover {
	BORDER-BOTTOM-STYLE: none; TEXT-TRANSFORM: uppercase; BORDER-LEFT-STYLE: none; FONT-FAMILY: Arial, Helvetica, sans-serif; BORDER-TOP-STYLE: none; COLOR: #298ba4; BORDER-RIGHT-STYLE: none; FONT-SIZE: 12px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.mr_topnav_horiz2-focus:active {
	BORDER-BOTTOM-STYLE: none; TEXT-TRANSFORM: uppercase; BORDER-LEFT-STYLE: none; FONT-FAMILY: Arial, Helvetica, sans-serif; BORDER-TOP-STYLE: none; COLOR: #298ba4; BORDER-RIGHT-STYLE: none; FONT-SIZE: 12px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.mr_topnav_horiz2-container {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; WHITE-SPACE: nowrap; PADDING-TOP: 0px
}
