.pp_quick_links {
	BORDER-BOTTOM-STYLE: none; PADDING-BOTTOM: 7px; BORDER-LEFT-STYLE: none; FONT-FAMILY: Arial, Helvetica, sans-serif; BORDER-TOP-STYLE: none; COLOR: #61544e; BORDER-RIGHT-STYLE: none; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.pp_quick_links A:link {
	BORDER-BOTTOM-STYLE: none; PADDING-BOTTOM: 7px; BORDER-LEFT-STYLE: none; FONT-FAMILY: Arial, Helvetica, sans-serif; BORDER-TOP-STYLE: none; COLOR: #61544e; BORDER-RIGHT-STYLE: none; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.pp_quick_links A:visited {
	BORDER-BOTTOM-STYLE: none; PADDING-BOTTOM: 7px; BORDER-LEFT-STYLE: none; FONT-FAMILY: Arial, Helvetica, sans-serif; BORDER-TOP-STYLE: none; COLOR: #61544e; BORDER-RIGHT-STYLE: none; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.pp_quick_links A:hover {
	BORDER-BOTTOM-STYLE: none; BORDER-LEFT-STYLE: none; FONT-FAMILY: Arial, Helvetica, sans-serif; BORDER-TOP-STYLE: none; COLOR: #811f03; BORDER-RIGHT-STYLE: none; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.pp_quick_links-container {
	PADDING-TOP: 10px
}
.quick_link_heading {
	PADDING-BOTTOM: 0px; MARGIN-TOP: 0px; TEXT-INDENT: 3px; FONT-FAMILY: Georgia, "Times New Roman", serif; MARGIN-BOTTOM: 0px; COLOR: #811f03; FONT-SIZE: 10pt; FONT-WEIGHT: bold
}
.pp_quick_links P {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-TOP: 0px
}
