.print_page {
	BORDER-BOTTOM-STYLE: none; BORDER-LEFT-STYLE: none; FONT-FAMILY: Arial, Helvetica, sans-serif; BORDER-TOP-STYLE: none; COLOR: #61544e; BORDER-RIGHT-STYLE: none; FONT-SIZE: 10px; TEXT-DECORATION: none
}
A.print_page:link {
	BORDER-BOTTOM-STYLE: none; BORDER-LEFT-STYLE: none; FONT-FAMILY: Arial, Helvetica, sans-serif; BORDER-TOP-STYLE: none; COLOR: #61544e; BORDER-RIGHT-STYLE: none; FONT-SIZE: 10px; TEXT-DECORATION: none
}
A.print_page:visited {
	BORDER-BOTTOM-STYLE: none; BORDER-LEFT-STYLE: none; FONT-FAMILY: Arial, Helvetica, sans-serif; BORDER-TOP-STYLE: none; COLOR: #61544e; BORDER-RIGHT-STYLE: none; FONT-SIZE: 10px; TEXT-DECORATION: none
}
A.print_page:hover {
	BORDER-BOTTOM-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-TOP-STYLE: none; COLOR: #811f03; BORDER-RIGHT-STYLE: none; FONT-SIZE: 10px; TEXT-DECORATION: none
}
A.print_page:link {
	BORDER-BOTTOM-STYLE: none; BORDER-LEFT-STYLE: none; FONT-FAMILY: Arial, Helvetica, sans-serif; BORDER-TOP-STYLE: none; COLOR: #61544e; BORDER-RIGHT-STYLE: none; FONT-SIZE: 10px; TEXT-DECORATION: none
}
A.print_page:visited {
	BORDER-BOTTOM-STYLE: none; BORDER-LEFT-STYLE: none; FONT-FAMILY: Arial, Helvetica, sans-serif; BORDER-TOP-STYLE: none; COLOR: #61544e; BORDER-RIGHT-STYLE: none; FONT-SIZE: 10px; TEXT-DECORATION: none
}
A.print_page:hover {
	BORDER-BOTTOM-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-TOP-STYLE: none; COLOR: #811f03; BORDER-RIGHT-STYLE: none; FONT-SIZE: 10px; TEXT-DECORATION: none
}
