BODY {
	LINE-HEIGHT: 150%; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #313131; FONT-SIZE: 12px
}
TABLE {
	FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #313131; FONT-SIZE: 12px
}
TD {
	FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #313131; FONT-SIZE: 12px
}
TR {
	FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #313131; FONT-SIZE: 12px
}
TH {
	FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #313131; FONT-SIZE: 12px
}
TABLE.table-right {
	FLOAT: right; MARGIN-LEFT: 10px
}
TABLE.table-left {
	FLOAT: left; MARGIN-RIGHT: 10px
}
.left {
	MARGIN: 20px 20px 20px 0px; FLOAT: left
}
.right {
	MARGIN: 20px 0px 20px 20px; FLOAT: right
}
IMG.img-right {
	MARGIN: 20px 0px 20px 20px; FLOAT: right
}
IMG.img-left {
	MARGIN: 20px 20px 20px 0px; FLOAT: left
}
A.IMG {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BORDER-TOP: medium none; BORDER-RIGHT: medium none; TEXT-DECORATION: none !important
}
A IMG {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BORDER-TOP: medium none; BORDER-RIGHT: medium none; TEXT-DECORATION: none !important
}
A:link {
	BORDER-BOTTOM: #0066a2 1px dotted; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #0066a2; FONT-SIZE: 12px; TEXT-DECORATION: none
}
A:visited {
	BORDER-BOTTOM: #0066a2 1px dotted; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #0066a2; FONT-SIZE: 12px; TEXT-DECORATION: none
}
A:hover {
	BORDER-BOTTOM: #bd2323 1px solid; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #a30500; FONT-SIZE: 12px; TEXT-DECORATION: none
}
A[name]:hover {
	BORDER-BOTTOM-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-TOP-STYLE: none; COLOR: ; BORDER-RIGHT-STYLE: none; TEXT-DECORATION: none
}
CAPTION {
	TEXT-ALIGN: left; FONT-FAMILY: Georgia, "Times New Roman", serif; MARGIN-BOTTOM: 10px; COLOR: #a30500; FONT-SIZE: 16px
}
BLOCKQUOTE {
	WIDTH: 380px
}
H1 {
	LINE-HEIGHT: 28px; MARGIN-TOP: 0px; FONT-FAMILY: Georgia, "Times New Roman", serif; COLOR: #a30500; FONT-SIZE: 24px
}
.subheading {
	LINE-HEIGHT: 20pt; MARGIN-TOP: 10px; FONT-FAMILY: Georgia, "Times New Roman", serif; COLOR: #a30500; FONT-SIZE: 16px; PADDING-TOP: 10px
}
HR.subheading {
	PADDING-TOP: 0px
}
P {
	LINE-HEIGHT: 150%; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #313131; FONT-SIZE: 12px
}
.paragraph {
	LINE-HEIGHT: 150%; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #313131; FONT-SIZE: 12px
}
DIV.img-caption {
	MARGIN: 5px; DISPLAY: block; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #000000; FONT-SIZE: 9px
}
UL {
	MARGIN-TOP: 0px; COLOR: #313131
}
OL {
	MARGIN-TOP: 0px; COLOR: #313131
}
LI {
	MARGIN-BOTTOM: 4px; FONT-SIZE: 12px
}
.backtotop A:link {
	FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 9px
}
.backtotop A:visited {
	FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 9px
}
.backtotop A:active {
	FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 9px
}
.backtotop {
	FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 9px
}
.backtotop A:hover {
	COLOR: #a30500
}
.quick_link_heading {
	PADDING-BOTTOM: 0px; MARGIN-TOP: 0px; TEXT-INDENT: 3px; FONT-FAMILY: Georgia, "Times New Roman", serif; MARGIN-BOTTOM: 0px; COLOR: #811f03; FONT-SIZE: 10pt; FONT-WEIGHT: bold
}
.feat_box {
	BORDER-BOTTOM: #e4e4e4 1px solid; BORDER-LEFT: #e4e4e4 1px solid; PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; WIDTH: 475px; PADDING-RIGHT: 10px; DISPLAY: block; COLOR: #313131; BORDER-TOP: #e4e4e4 1px solid; BORDER-RIGHT: #e4e4e4 1px solid; PADDING-TOP: 10px
}
P.feat_box {
	BORDER-BOTTOM: #e4e4e4 1px solid; BORDER-LEFT: #e4e4e4 1px solid; PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; WIDTH: 475px; PADDING-RIGHT: 10px; DISPLAY: block; COLOR: #313131; BORDER-TOP: #e4e4e4 1px solid; BORDER-RIGHT: #e4e4e4 1px solid; PADDING-TOP: 10px
}
.half_feat_box {
	BORDER-BOTTOM: #e4e4e4 1px solid; BORDER-LEFT: #e4e4e4 1px solid; PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; WIDTH: 320px; PADDING-RIGHT: 10px; DISPLAY: block; COLOR: #313131; BORDER-TOP: #e4e4e4 1px solid; BORDER-RIGHT: #e4e4e4 1px solid; PADDING-TOP: 10px
}
P.half_feat_box {
	BORDER-BOTTOM: #e4e4e4 1px solid; BORDER-LEFT: #e4e4e4 1px solid; PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; WIDTH: 320px; PADDING-RIGHT: 10px; DISPLAY: block; COLOR: #313131; BORDER-TOP: #e4e4e4 1px solid; BORDER-RIGHT: #e4e4e4 1px solid; PADDING-TOP: 10px
}
HR {
	WIDTH: 90%; DISPLAY: block; COLOR: #e4e4e4; CLEAR: both; size: 1px
}
.footer-title {
	FONT-FAMILY: arial; COLOR: #007aa5; FONT-SIZE: 15px; FONT-WEIGHT: bold
}
.footer-address {
	TEXT-ALIGN: left; PADDING-LEFT: 25px; WIDTH: 240px; FLOAT: left
}
.footer-address A:link IMG {
	BORDER-BOTTOM-STYLE: none; PADDING-BOTTOM: 0px; BORDER-LEFT-STYLE: none; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP-STYLE: none; FLOAT: left; BORDER-RIGHT-STYLE: none; MARGIN-RIGHT: 6px; TEXT-DECORATION: none; PADDING-TOP: 0px
}
.footer-address A:visited IMG {
	BORDER-BOTTOM-STYLE: none; PADDING-BOTTOM: 0px; BORDER-LEFT-STYLE: none; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP-STYLE: none; FLOAT: left; BORDER-RIGHT-STYLE: none; MARGIN-RIGHT: 6px; TEXT-DECORATION: none; PADDING-TOP: 0px
}
.footer-address A:hover IMG {
	BORDER-BOTTOM-STYLE: none; PADDING-BOTTOM: 0px; BORDER-LEFT-STYLE: none; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP-STYLE: none; FLOAT: left; BORDER-RIGHT-STYLE: none; MARGIN-RIGHT: 6px; TEXT-DECORATION: none; PADDING-TOP: 0px
}
.footer-column {
	TEXT-ALIGN: left; WIDTH: 170px; FLOAT: left
}
.footer-copyright {
	BORDER-BOTTOM-STYLE: none; LINE-HEIGHT: 20px; BORDER-LEFT-STYLE: none; FONT-FAMILY: arial; BORDER-TOP-STYLE: none; COLOR: #6e6e6e; BORDER-RIGHT-STYLE: none; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.footer-address {
	BORDER-BOTTOM-STYLE: none; LINE-HEIGHT: 20px; BORDER-LEFT-STYLE: none; FONT-FAMILY: arial; BORDER-TOP-STYLE: none; COLOR: #6e6e6e; BORDER-RIGHT-STYLE: none; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.footer-column A:link {
	BORDER-BOTTOM-STYLE: none; LINE-HEIGHT: 20px; BORDER-LEFT-STYLE: none; FONT-FAMILY: arial; BORDER-TOP-STYLE: none; COLOR: #6e6e6e; BORDER-RIGHT-STYLE: none; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.footer-column A:visited {
	BORDER-BOTTOM-STYLE: none; LINE-HEIGHT: 20px; BORDER-LEFT-STYLE: none; FONT-FAMILY: arial; BORDER-TOP-STYLE: none; COLOR: #6e6e6e; BORDER-RIGHT-STYLE: none; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.footer-copyright A:link {
	BORDER-BOTTOM-STYLE: none; LINE-HEIGHT: 20px; BORDER-LEFT-STYLE: none; FONT-FAMILY: arial; BORDER-TOP-STYLE: none; COLOR: #6e6e6e; BORDER-RIGHT-STYLE: none; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.footer-copyright A:visited {
	BORDER-BOTTOM-STYLE: none; LINE-HEIGHT: 20px; BORDER-LEFT-STYLE: none; FONT-FAMILY: arial; BORDER-TOP-STYLE: none; COLOR: #6e6e6e; BORDER-RIGHT-STYLE: none; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.footer-column A:hover {
	COLOR: #007aa5
}
.footer-copyright A:hover {
	COLOR: #007aa5
}
.pipe {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 7px; PADDING-RIGHT: 3px; COLOR: #007aa5; PADDING-TOP: 0px
}
.footer-copyright {
	PADDING-BOTTOM: 20px; PADDING-LEFT: 25px; PADDING-RIGHT: 25px; CLEAR: left; PADDING-TOP: 60px
}
.superscript {
	POSITION: relative; BOTTOM: 0.5em; FONT-SIZE: 0.8em
}
.subscript {
	POSITION: relative; FONT-SIZE: 0.8em; TOP: 0.3em
}
P.listp {
	MARGIN-BOTTOM: 5px
}
