<!DOCTYPE html> <!-- This has to come before any comments (or anything else). Otherwise it kills IE -->
<!-- Copyright 2013 Tauran Wood -->

<!--  This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.
 
 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.
 
 You should have received a copy of the GNU General Public License
 along with this program.  If not, see <http://www.gnu.org/licenses/>.
 -->

<!-- For info about changing the website (fixing bugs, etc.) see https://github.com/thirstyice/abe-site -->

<html>
    <head>
        <meta charset="UTF-8"/>
		<link rel="stylesheet" type="text/css" href="/universal/areamenu.css"/>
		<!-- In order to keep the same "Look and feel" across the entire website, please don't change the styling -->
	</head>
    <body>
		<div id="areamenuborder">
			<!-- This is the menu area that is different for each part of the website -->
			<a href="/index.html"><h3>Main page for area</h3></a>
			<ul id="leftmenu">
				<!-- It is recommended, though not required, that all menu items without submenus be at the bottom, after those with submenus -->
				<li><a>Menu 1 <span>▹</span></a>
					<!-- the arrow symbol used for menus with submenus is U+25B9. please insert it directly and inside a span -->
					<ul>
						<li><a href="#">Look, Submenu!</a></li>
						<li><a href="#">Sciences</a></li>
						<li><a href="#">English</a></li>
						<li><a href="#">French</a></li>
						<li><a href="#">Spanish</a></li>
						<li><a href="#">Social studies</a></li>
						<li><a href="#">CATS</a></li>
						<li><a href="#">Fine arts</a></li>
						<li><a href="#">Special Education</a></li>
					</ul>
				</li>
				<li>
					<a>Another menu <span>▹</span></a>
					<ul>
						<li><a href="#">With a submenu</a></li>
						<li><a href="#">Registration guide</a></li>
						<li><a href="#">School Council</a></li>
						<li><a href="#">Timetable</a></li>
						<li><a href="#">Staff Listing</a></li>
						<li><a href="#">Timetable</a></li>
						<li><a href="#">Email Office</a></li>
						<li><a href="#">Contact Webmaster</a></li>
					</ul>
				</li>
				<li><a>What happens when you use too many characters <span>▹</span></a>
					<ul>
						<li><a>The submenus die</a></li>
						<li><a>...Sort of</a></li>
						<li><a>and it looks bad</a></li>
					</ul>
				</li>
				<li><a href="#">Menu without submenu</a></li>
			</ul>
			<!-- this is where the area that you are editing ends -->
		</div>
	</body>
</html>